.title-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 5rem;
}

.form-page {
    width: 800px;
    padding: 5%;
}

.risks-flex-row {
    display: flex;
    flex-direction: column;
    height: 400px;
    text-align: left;
    float: left;
    margin-bottom: 1rem;
}

.custom-button {
    background: #F5CD58;
    width: 150px;
    color: black;
    font-size: 14px;
}

.vertical-group {
    margin-bottom: 2rem;
}

vaadin-confirm-dialog-overlay > [slot="confirm-button"]{
    background: #F5CD58;
}
vaadin-confirm-dialog-overlay > [slot="cancel-button"]{
    color: #F5CD58;
}

.notification-position {
    position: absolute;
    top: 4rem;
    right: 1rem;
}